* {
	margin: 0;
}

body {
	overflow: hidden;
	font-family: 'Patua One', cursive;
	font-size: 16px;
	font-weight: 400;
	padding: 0px;
}

div#out-container {
	width: 100%;
	height: 100%;
	margin: 0px;
}
/**************** header ******************/
div#out-container header {
	width: 99%;
	height: 60px;
	padding: .5%;
	background: #3B5998;
	min-width: 800px;
}

div#out-container header p#title {
	float: left;
	font-size: 40px;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	color: #395693;
	-webkit-text-stroke: 1px #fff;
	margin-left: 2px;
	font-weight: 900;
	font-size: 40px;
}

div#out-container header div#meta {
	float: right;
}

div#out-container header p#welcome {
	float: left;
	height: 60px;
	line-height: 60px;
	margin-right: 20px;
	font-size: 24px;
	color: #fff;
	width: 220px;
}

header a {
	text-decoration: none;
	color: #000;	
}

/* div#out-container header p#logout { */
/* 	float: right; */
/* 	width: auto; */
/* 	height: 30px; */
/* 	line-height: 30px; */
/* 	font-size: 16px; */
/* 	margin-top: 15px; */
/* 	cursor: pointer; */
/* 	height: 30px; */
/* } */

/* div#out-container header p#logout a { */
/* 	text-decoration: none; */
/* 	color: #fff; */
/* } */
div#out-container header  img#logout {
	flaot: right;
	width: 30px;
	height: 30px;
	margin: 15px 15px 0px 0px;
	cursor: pointer;
}

div#out-container header p#welcome span {
	font-size: 20px;
	text-transform: capitalize;
}

div#out-container header span#menu-icon {
	float: right;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 8px solid #fff;
	margin: 30px 0px 0px 5px;
	cursor: pointer;
}

div#out-container header div#menu {
	display: none;
	width: 10%;
	background: #fff;
	margin-top: 65px;
	margin-right: 20px;
	margin-left: 88%;
	z-index: 1000;
	position: relative;
	padding: .5%;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	border-radius: 5px;
	border-top-right-radius: 0 px !important;
	width: 10%;
}

div#out-container header div#menu:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: #fff;
	border-width: 15px;
	margin-left: 58px;
}

div#out-container header div#menu ul {
	list-style: none;
	text-align: center;
	font-size: 17px;
	margin: 0px;
	padding: 0px;
	margin: 0px;
}

div#out-container header div#menu ul li {
	margin-bottom: 5px;
	cursor: pointer;
}
/**************************************************/
/**************** main container ******************/
/**************************************************/
div#out-container div#container {
	width: 100%;
	height: 80%;
	padding: 1%;
	margin: auto;
	min-width: 787px;
}

/**************** sidebar ******************/
div#container div#sidebar {
	float: left;
	width: 25%;
	float: left;
	min-width: 200px;
}

div#container div#sidebar ul {
	list-style: none;
	width: 70%;
	margin: auto;
	padding: 10px;
	border-radius: 5px;
	background: #e0e0d1;
}

div#container div#sidebar ul li {
	height: 30px;
	width: 80%;
	margin: auto;
	line-height: 30px;
	border-radius: 5px;
	background: #3B5998;
	color: #fff;
	border: 2px solid #395693;
	margin-Bottom: 15px;
	padding: 6px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
}

div#container div#sidebar ul li:hover {
	background: #4060a5;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

div#container div#sidebar div#change-password {
	/* 	display: none; */
	
}
/***************************************************************************************/
/**************** right side container for form and history container ******************/
/***************************************************************************************/
div#container div#main, div#container div#main-pf, div#container div#main-sec
	{
	background: #e0e0d1;
	float: right;
	width: 65%;
	height: 94%;
	margin-right: 3%;
	padding: 3%;
	padding-top: 0;
	border-radius: 5px;
	min-width: 500px;
}

/**************** form container ******************/
div#container div#main div#request-form-container {
	width: 100%;
	margin-top: 4%;
}

div#container div#main h2#message, div#add-user-form-container h2#message
	{
	font-size: 18px;
	color: green;
}

div#container div#main h3 {
	font-size: 24px;
}

div#container div#main ul#form-list {
	list-style: none;
}

div#container div#main ul#form-list li {
	margin-top: 20px;
	padding: 20px;
	height: 50px;
}

div#container div#main ul#form-list li label {
	font-weight: 400;
	font-size: 18px;
}

div#container div#main ul#form-list li select {
	width: 30%;
	height: 35px;
	border-radius: 3px;
	font-family: inherit;
}

div#container div#main ul#form-list li div#from-duration-div, div#container div#main ul#form-list li div#to-duration-div
	{
	margin-bottom: 4%;
	padding: 0px;
	width: 100%;
}

div#container div#main ul#form-list li div#from-duration-div div#from-date-div,
	div#container div#main ul#form-list li div#from-duration-div div#from-time-div,
	div#container div#main ul#form-list li div#to-duration-div div#to-date-div,
	div#container div#main ul#form-list li div#to-duration-div div#to-time-div
	{
	width: 50%;
	float: left;
}

div#container div#main ul#form-list li div#from-duration-div div#from-time-div,
	div#container div#main ul#form-list li div#to-duration-div div#to-time-div
	{
	float: right;
}

div#container div#main ul#form-list li div#from-duration-div input[type="date"],
	div#container div#main ul#form-list li div#from-duration-div select,
	div#container div#main ul#form-list li div#to-duration-div input[type="date"],
	div#container div#main ul#form-list li div#to-duration-div select {
	width: 80%;
	height: 35px;
	border-radius: 5px;
	font-family: inherit;
}

div#container div#main ul#form-list li span {
	color: #e60000;
	margin-left: 10px;
	font-size: 16px;
}

div#container div#main ul#form-list div {
	margin: auto;
}

div#container div#main ul#form-list textarea {
	width: 40%;
	height: 60px;
	padding: .5%;
	resize: none;
	border-radius: 5px;
	font-family: inherit;
	resize: none;
}

div#container div#main ul#form-list span#comment-message {
	display: inline-block;
	float: right;
	margin-right: 43%;
}

div#container div#main ul#form-list li input[type="submit"], div#container div#main ul#form-list li button,
	div#container div#main-pf div#add-user-form-container ul li input[type="submit"],
	div#container div#main-pf div#add-user-form-container ul li button, div#container div#main-pf #accept-all,
	div#container div#main-pf #reject-all, div#container div#sidebar input[type="submit"],
	div#password-container input[type="submit"], div#password-container button#reset,
	div#sec-password-container input[type="submit"], div#sec-password-container button#reset
	{
	float: left;
	width: 14%;
	min-width: 70px;
	height: 35px;
	border: none;
	border-radius: 5px;
	background: #3B5998;
	color: white;
	font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
	font-family: inherit;
	text-transform: capitalize;
	font-size: 18px;
	cursor: pointer;
}

div#container div#main ul#form-list li input[type="submit"] {
	margin-left: 5%;
}

div#container div#main ul#form-list li button, div#container div#main-pf div#add-user-form-container ul li button,
	div#password-container button#reset, div#sec-password-container button#reset
	{
	float: right;
}

div#container div#main ul#form-list li button {
	margin-right: 13% !important;
}

div
























































































































































#container












































































 












































































div
























































































































































#main












































































 












































































ul
























































































































































#form-list












































































 












































































li












































































 












































































input
























































































































































[
type
=
"submit"
]
























































































































































:hover
,
div
























































































































































#container
















































































































































































































 
















































































































































































































div
































































































































































































































































































































































































































#main
















































































































































































































 
















































































































































































































ul
































































































































































































































































































































































































































#form-list
















































































































































































































 
















































































































































































































li
















































































































































































































 
















































































































































































































button
































































































































































































































































































































































































































:hover
,
div
































































































































































































































































































































































































































#container
















































































































































































































 
















































































































































































































div
































































































































































































































































































































































































































#main-pf
















































































































































































































 
















































































































































































































div
































































































































































































































































































































































































































#add-user-form-container
















































































































































































































 
















































































































































































































ul
















































































































































































































 
















































































































































































































li
















































































































































































































 
















































































































































































































input
































































































































































































































































































































































































































[
type
=
"submit"
]
































































































































































































































































































































































































































:hover
,
div
































































































































































































































































































































































































































#container
















































































































































































































 
















































































































































































































div
































































































































































































































































































































































































































#main-pf
















































































































































































































 
















































































































































































































div
































































































































































































































































































































































































































#add-user-form-container
















































































































































































































 
















































































































































































































ul
















































































































































































































 
















































































































































































































li
















































































































































































































 
















































































































































































































button
































































































































































































































































































































































































































:hover
,
div
































































































































































































































































































































































































































#container
















































































































































































































 
















































































































































































































div
































































































































































































































































































































































































































#main-pf
















































































































































































































 
















































































































































































































#accept-all
































































































































































































































































































































































































































:hover
,
div
































































































































































































































































































































































































































#container
















































































































































































































 
















































































































































































































div
































































































































































































































































































































































































































#main-pf
















































































































































































































 
















































































































































































































#reject-all
































































































































































































































































































































































































































:hover
,
{
text-decoration
































































































































































































































































































































































































































:
















































































































































































































 
















































































































































































































none
































































































































































































































































































































































































































;
background
































































































































































































































































































































































































































:
















































































































































































































 
















































































































































































































#4060a5
































































































































































































































































































































































































































;
background-position
































































































































































































































































































































































































































:
















































































































































































































 
















































































































































































































0
-15
px
































































































































































































































































































































































































































;
-webkit-transition
































































































































































































































































































































































































































:
































































































































































































































































































































































































































background-position
































































































































































































































































































































































































































0
.1s
































































































































































































































































































































































































































linear






























































































































































































































































































































































































































;
-moz-transition
































































































































































































































































































































































































































:
































































































































































































































































































































































































































background-position
































































































































































































































































































































































































































0
.1s
































































































































































































































































































































































































































linear






























































































































































































































































































































































































































;
-ms-transition
































































































































































































































































































































































































































:
































































































































































































































































































































































































































background-position
































































































































































































































































































































































































































0
.1s
































































































































































































































































































































































































































linear






























































































































































































































































































































































































































;
-o-transition
































































































































































































































































































































































































































:
































































































































































































































































































































































































































background-position
































































































































































































































































































































































































































0
.1s
































































































































































































































































































































































































































linear






























































































































































































































































































































































































































;
transition
































































































































































































































































































































































































































:
































































































































































































































































































































































































































background-position
































































































































































































































































































































































































































0
.1s
































































































































































































































































































































































































































linear






























































































































































































































































































































































































































;
}

/**************** history container ******************/
div#container div#main div#history-container {
	display: none;
	width: 100%;
	height: 100%;
}

div#container div#main div#history-container div#table-container, div#requests-container div#table-container,
	div#head-count-table-container {
	height: 100%;
	width: 100%;
	margin-top: 2%;
	overflow-y: auto;
}

/**************** table ******************/
div#history-container div#table-container table#history-table, div#requests-container div#table-container table#requests-table,
	div#head-count-table-container table#head-count-table {
	width: 100%;
	/* 	height: 100%; */
	font-family: inherit;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background: #fff;
	box-shadow
	(0px
	0px
	5px
	rgba(0,0,0,0.3));
}

div#history-container div#table-container table#history-table thead tr,
	div#requests-container div#table-container table#requests-table thead tr,
	div#head-count-table-container table#head-count-table thead tr {
	background: #3B5998;
}

div#history-container div#table-container table#history-table thead tr th,
	div#requests-container div#table-container table#requests-table thead tr th,
	div#head-count-table-container table#head-count-table tr th {
	font-family: 'Patua One', cursive;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	padding: 10px;
}

div#history-container div#table-container table#history-table th:nth-child(1),
	div#requests-container div#table-container table#requests-table th:nth-child(1),
	div#head-count-table-container table#head-count-table th:nth-child(1) {
	border-top-left-radius: 8px;
	width: 8%;
}

div


























#history-container













 













div


























#table-container













 













table


























#history-table













 













th


























:nth-child(4)
,
{
width


























:













 













10%;
}
div#history-container div#table-container table#history-table th:nth-child(6)
	{
	width: 9%;
}

div#history-container div#table-container table#history-table th:nth-child(7),
	div#requests-container div#table-container table#requests-table th:nth-child(6),
	div#head-count-table-container table#head-count-table th:nth-child(6) {
	width: 15%;
}

div#history-container div#table-container table#history-table th:nth-child(8),
	div#requests-container div#table-container table#requests-table th:nth-child(7),
	div#head-count-table-container table#head-count-table th:nth-child(7) {
	width: 20%;
	border-top-right-radius: 8px;
}

div#history-container div#table-container table#history-table tbody tr,
	div#requests-container div#table-container table#requests-table tbody tr,
	div#head-count-table-container table#head-count-table tbody tr {
	height: 30px !important;
	line-height: 30px !important;
}

div#history-container div#table-container table#history-table tbody tr:nth-child(2n),
	div#requests-container div#table-container table#requests-table tbody tr:nth-child(2n),
	div#head-count-table-container table#head-count-table tbody tr:nth-child(2n)
	{
	background: #f0f3f5;
}

div#history-container div#table-container table#history-table td, div#requests-container div#table-container table#requests-table td,
	div#head-count-table-container table#head-count-table td {
	font-family: 'Open Sans', sans-serif;
	font-family: inherit;
	font-weight: 400;
	color: #5f6062;
	font-size: 14px;
	text-align: center;
	padding: 4px;
	border-bottom: 1px solid #e0e0e0;
}

div#history-container div#table-container table#history-table td:nth-child(7),
	div#requests-container div#table-container table#requests-table td:nth-child(7),
	div#head-count-table-container table#head-count-table td:nth-child(7) {
	text-align: left;
}

/**************** scroll bar ******************/
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
/**************** PF ******************/
/**************************************/
/**************************************/
div#container div#main-pf {
	width: 68%;
	padding: 1%;
	margin-right: 3%;
}
/*requests container */
div#container div#main-pf div#requests-container {
	width: 100%;
	height: 90%;
}

div#container div#main-pf div#requests-container div#table-container {
	margin-top: 1%;
}

div#requests-container div#table-container table#requests-table {
	margin-bottom: 10px;
}
/*******************requests-table*******************/
div#requests-container div#table-container table#requests-table th:nth-child(2),
	div#head-count-table-container table#head-count-table th:nth-child(2) {
	width: 10%;
}

div#requests-container div#table-container table#requests-table th:nth-child(3),
	div#requests-container div#table-container table#requests-table th:nth-child(4),
	div#requests-container div#table-container table#requests-table th:nth-child(5),
	div#requests-container div#table-container table#requests-table th:nth-child(6)
	{
	width: 13%;
}

div#requests-container div#table-container table#requests-table th:nth-child(7),
	div#head-count-table-container table#head-count-table th:nth-child(7) {
	width: 15%;
	border-top-right-radius: 0px;
}

div#requests-container div#table-container table#requests-table th:nth-child(8),
	div#head-count-table-container table#head-count-table th:nth-child(8) {
	width: 15%;
	border-top-right-radius: 8px;
}

div#container div#main-pf #update-request-status {
	margin: auto;
	float: none;
	width: 10%;
	min-width: 70px;
	margin-top: 2%;
}

div#container div#main-pf  table img.accept, div#container div#main-pf  table img.reject,
	img.checkedout, img.checkedin {
	float: left;
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin-left: 10px;
}

div#container div#main-pf  table img.reject {
	float: right;
	margin-left: 0px;
	margin-right: 10px;
}

div#container div#main-pf input#accept-all {
	margin-top: 10px;
	margin-right: 20px;
	min-width: 100px;
}

div#container div#main-pf input#reject-all {
	margin-top: 10px;
	min-width: 100px;
}
/*******************add user form container*******************/
div#container div#main-pf div#add-user-form-container {
	width: 40%;
	min-width: 300px;
	margin: auto;
	margin-top: 5%;
	display: none;
}

div#container div#main-pf div#add-user-form-container ul, div#password-container ul,
	div#sec-password-container ul {
	list-style: none;
}

div#container div#main-pf div#add-user-form-container ul li, div#password-container ul li,
	div#sec-password-container ul li {
	margin-top: 10px;
	padding: 10px;
	height: 50px;
}

div#container div#main-pf div#add-user-form-container ul li#email {
	/* 	display: none; */
	
}

div#container div#main-pf div#add-user-form-container ul li select, div#container div#main-pf div#add-user-form-container ul li input[type="text"],
	div#password-container input[type="password"], div#sec-password-container input[type="password"]
	{
	width: 100%;
	height: 35px;
	padding: 5px;
	border-radius: 3px;
	font-family: inherit;
}

div#container div#main-pf div#add-user-form-container ul li input[type="submit"],
	div#container div#main-pf div#add-user-form-container ul li button {
	width: 25%;
}

span#id-message, span#email-message, span#name-message, span#user-type-message,
	div#password-container span, div#sec-password-container span {
	color: #e60000;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 16px;
}

div#container div#main-pf div#add-user-form-container ul li button {
	float: right;
	background: #3B5998;
	color: #fff;
}
/**************head count*********/
div#head-count-container {
	display: none;
}
/*********************************
**********SECURITY****************
**********************************/
div#container div#main-sec {
	float: none;
	width: 85%;
	margin: auto;
	padding: .2% 3% 0 3%;
	margin: auto;
}

div#container div#main-sec div#table-container {
	height: 90%;
	overflow: auto;
}

div#main-sec div#table-container table#requests-table {
	margin-bottom: 10px;
}

div#main-sec div#requests-container div#table-container table#requests-table th:nth-child(2),
	div#main-sec div#requests-container div#table-container table#requests-table th:nth-child(3),
	div#main-sec div#requests-container div#table-container table#requests-table th:nth-child(4),
	div#main-sec div#requests-container div#table-container table#requests-table th:nth-child(5),
	div#main-sec div#requests-container div#table-container table#requests-table th:nth-child(6),
	div#main-sec div#table-container table#requests-table th:nth-child(7) {
	width: 10% ! important;
}

div#main-sec div#requests-container div#table-container table#requests-table th:nth-child(1),
	div#main-sec div#table-container table#requests-table th:nth-child(8),
	div#main-sec div#table-container table#requests-table th:nth-child(9) {
	width: 5% ! important;
	border-top-right-radius: 0px;
}

div#main-sec div#table-container table#requests-table th:nth-child(9) {
	border-top-right-radius: 8px;
}

div#container div#main-pf #update-request-status {
	margin: auto;
	float: none;
	width: 10%;
	min-width: 70px;
	margin-top: 2%;
}

div#request-alert {
	display: none;
	height: 100px;
	width: 25%;
	margin: 10% 35% 0% 40%;
	position: absolute;
	background: #fff;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border: 2px solid #3B5998;
	border-top: 10px solid #3B5998;
}

div#request-alert {
	margin-top: 10px;
	text-align: center;
	font-size: 20px;
}
/*****************change password*************/
div#password-container, div#sec-password-container {
	width: 40%;
	min-width: 300px;
	margin: auto;
	margin-top: 5%;
	display: none;
}

div#sec-password-container {
	width: 30%;
}

div#password-container input[type='submit'], div#password-container button#reset,
	div#sec-password-container input[type='submit'], div#sec-password-container button#reset
	{
	width: auto;
	margin-top: 10px;
	padding: 5px;
}
/**************** footer ******************/
div#out-container footer {
	height: 60px;
	background: #3B5998;
}

div#out-container footer img {
	margin: 0 48% 0 48%;
	height: 70px;
	width: 180px;
}
/****************acknowledgements**********/
div#acknowledgements {
	display: none;
	width: 100%;
	height: 100%;
	margin-top: 3%;
	background: #fff;
}

div#acknowledgements div.row {
	width: 100%;
	height: 31%;
	margin-bottom: 2%;
}

div#acknowledgements div.row div.img {
	float: left;
	width: 33%;
	height: 100%;
	border: 1px solid red;
}

div#acknowledgements div div#fourth-img, div#acknowledgements div div#fifth-img
	{
	width: 49%;
}

div#acknowledgements div div#fifth-img {
	float: right;
}

div#acknowledgements div.row div.img div {
	margin: 0% 10% 0% 10%;
	width: 80%;
}

div#acknowledgements div div#fourth-img div, div#acknowledgements div div#fifth-img div
	{
	width: 50%
}

div#acknowledgements div div#fourth-img div {
	margin: 0% 10% 0% 40%;
}

div#acknowledgements div div#sixth-img {
	margin-left: 30%;
}

div#acknowledgements img {
	width: 200px;
	height: 100%;
	margin: auto;
}

/******************************
********change window************
*******************************/
@media screen and (max-width: 800px) {
	body {
		overflow: auto;
	}
}